.search-form {
    margin-top: 20px;
}

.articles-count {
    text-align: center;
    margin-top: 20px;
}

.articles-count h1 {
    font-size: 60px;
}

.image {
    border-radius: 6px;
    margin: 5%;
    border: 1px solid rgb(209, 209, 209);
    height: 80%;
    width: 80%;
}

.card {
    margin: 20px;
}

.cardBody {
    margin-top: 2%;
}